@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}
.select-trigger {
  border-radius: 8px;
}
.select-trigger[data-state='open'] {
  border-radius: 8px 8px 0 0;
}

.select-item:hover {
  background-color: #00483f !important;
}

.select-content {
  box-shadow: 1px 6px 5px 1px rgba(0, 0, 0, 0.1);
}

.primaryGreenButton:hover {
  border: 1px solid #00483f !important;
  background-color: #d6e7cd !important;
  color: #00483f !important;
}

.primaryOrangeButton:hover {
  border: 1px solid #fc7238 !important;
  background-color: #fcd4c4 !important;
  color: #fc7238 !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.form-checkbox:focus {
  box-shadow: none !important;
}

.toastMessage-enter {
  transform: translateX(100%);
  opacity: 0;
}
.toastMessage-enter-active {
  will-change: transform, opacity;
  transform: translateX(0);
  opacity: 1;
  transition:
    opacity 1000ms,
    transform 1000ms;
}
.toastMessage-exit {
  transform: translateX(0);
  opacity: 1;
}
.toastMessage-exit-active {
  will-change: transform, opacity;
  transform: translateX(100%);
  opacity: 0;
  transition:
    opacity 1000ms,
    transform 1000ms;
}

.userSpeechBubble:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -40px;
  border-width: 10px 20px 10px 20px;
  border-style: solid;
  border-color: transparent transparent transparent #d6e7cd;
}

.aiSpeechBubble:after {
  content: '';
  position: absolute;
  top: 20px;
  left: -40px;
  border-width: 10px 20px 10px 20px;
  border-style: solid;
  border-color: transparent #ffc4aa transparent transparent;
}
