@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
}
.select-trigger {
  border-radius: 8px;
}
.select-trigger[data-state='open'] {
  border-radius: 8px 8px 0 0;
}
